.cardGrid {  display: grid;
    grid-template-columns: 0.4fr 0.3fr 0.3fr;
    grid-template-rows: 0.6fr 0.6fr 0.6fr;
    gap: 20px 20px;
    grid-template-areas:
      ". topPlayer ."
      "leftPlayer trickArea rightPlayer"
      ". bottomPlayer .";
  }
  
  .leftPlayer { grid-area: leftPlayer; 
    grid-row-start: 2;
    grid-row-end: 4;
  }
  
  .trickArea { grid-area: trickArea; }
  
  .topPlayer {  
    grid-area: topPlayer;
  }
  
  .rightPlayer { grid-area: rightPlayer; 
    grid-row-start: 2;
    grid-row-end: 4;}
  
  .bottomPlayer { 
    grid-area: bottomPlayer;
  }

  